$blue: rgb(70, 137, 254);
$blueTransparent: rgba(70, 137, 254, 0.1);
$darkBlue: rgb(52, 103, 190);

$blueGray: rgb(167, 173, 183);
$grayBG: rgba(181, 181, 181, 0.7);
$gray: rgb(130, 130, 130);
$lightGray: rgb(240, 240, 240);
$whiteGray: rgb(250, 250, 250);
$whiteTransparent: rgba(250, 250, 250, .8);

$white: rgb(255, 255, 255);

$red: rgb(204, 0, 0);
